.container {
    background-color: white;
    border-radius: 8px;
    margin: auto;
    padding: 2rem;
    max-width: 860px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border: 1px solid #dee2e6;
}

.reviewBox {
    display: flex;
    gap: 1rem;

    img {
        border-radius: 100%;
        height: 100%;
    }

    h2 {
        font-weight: 400;
        text-transform: capitalize;
    }

    small {
        font-size: 1rem;
        color: rgb(0, 85, 189);
    }

    p {
        margin-block: .5rem;
        line-height: 150%;
    }
}