.budget {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 100%;
    padding: 1rem;





    .box {
        background-color: rgb(255, 255, 255);
        border-radius: .25rem;
        padding: 1rem;
        height: fit-content;
        border: 1px solid #c6c6c6;
        margin-top: 1.25rem;

        h3 {
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 1rem;
            border-bottom: 1px solid #c6c6c6;
            margin-bottom: 1rem;
        }

        input {
            width: 100%;
            padding: 1rem;
            border: 1px solid #c6c6c6;
            border-radius: .25rem;
            margin-bottom: 1rem;
            font-size: 14px;
            font-weight: 500;
            color: rgb(128, 51, 216);
        }
    }


    .balanceBox {
        background-color: rgb(128, 51, 216);
        color: rgb(255, 255, 255);
        border-radius: .25rem;
        padding: 1rem;
        height: fit-content;

        p {
            opacity: .8;
            font-size: 14px;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    .btn {
        width: 100%;
        padding: 1rem;
        border: 1px solid rgb(128, 51, 216);
        border-radius: .25rem;
        margin-bottom: 1rem;
        font-size: 14px;
        font-weight: 600;
        color: rgb(128, 51, 216);
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: rgb(128, 51, 216);
            color: rgb(255, 255, 255);
        }
    }

    .transactions {
        width: 100%;
        padding: 1rem;
        border: 1px solid #c6c6c6;
        border-radius: .25rem;
        background-color: rgb(255, 255, 255);

        h3 {
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 1rem;
            border-bottom: 1px solid #c6c6c6;
            margin-bottom: 1rem;
        }

        .income {
            background-color: #dbf9e9;
            padding: 1rem;
            border-radius: .25rem;
            border: 1px solid #309044;
            color: #0e511d;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: .5rem;
        }

        .expense {
            background-color: #f9e9e9;
            padding: 1rem;
            border-radius: .25rem;
            border: 1px solid #a95656;
            color: #781f1f;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: .5rem;
        }

        .amount {

            font-weight: 600;
        }
    }


}