@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  position: fixed;

}

.sidebar {
  padding: 1rem;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: cadetblue;
  overflow: hidden;
}

.content {
  display: block;
  padding: 1rem;
}